.container{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    color:blueviolet;
}
.loader {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed blueviolet;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.4);
    }
}