* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: blueviolet;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.login {
    margin-top: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
}

.rememberMe {
    display: flex;
    margin: 15px 0;
    color: blueviolet;
    align-items: center;
    justify-content: center;
}

.rememberMe input {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.forgot a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: blueviolet;
    margin-bottom: 15px;
}

.notAccount {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: gray;
}

.notAccount a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: blueviolet;
}

.register {
    width: 30%;
    margin-top: 20px;
    text-align: center;
}

.packList {
    width: 90vw;
}

.packListHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;
}

.packListHeader button {
    margin-left: 25px;
}

.searchAndBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search button {
    margin-left: 20px;
}

.table {
    margin-top: 30px;
    text-align: center;
    /*width: 90vw;*/
    /*height: 90vh;*/
    border: 2px solid blueviolet;
}

.table_actions_btn {
    display: flex;
    justify-content: space-around;
}

/*tableActions_btn_allPacks*/

.table_sort_btn_active {
    width: 50px;
    height: 25px;
    color: green;
    border: 1px solid green;
    font-weight: normal;
    background: transparent;
    margin-left: 5px;
}

.table_sort_btn_passive {
    width: 50px;
    height: 25px;
    color: palevioletred;
    border: 1px solid palevioletred;
    font-weight: normal;
    background: transparent;
    margin-left: 5px;
}

.addNewPackModalBtn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.PackListBtn_active {
    padding: 2px 12px;
    color: green;
    border: 1px solid green;
    background: transparent;
}

.PackListBtn_passive {
    padding: 2px 12px;
    color: palevioletred;
    border: 1px solid palevioletred;
    background: transparent;
}

.learn_Page {
    display: flex;
    flex-direction: column;
    width: 90vw;
    /*justify-content: center;*/
    align-items: center;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.questionContainer h2 {
    margin-bottom: 20px;
}

.doubleBtn {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.rateBtns {
    margin-bottom: 30px;
    display: flex;
}

.rateBtn {
    margin-left: 15px;
}

.profileContainer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.profileImg_wrapper {
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImg_wrapper input {
    width: 30%;
    margin-bottom: 10px;
}

.profileImg_wrapper_text {
    margin-top: 10px;
    color: darkred;
    font-size: 20px;
    font-weight: bold;
}

.profileImg_wrapper span {
    margin-top: -10px;
    margin-bottom: 10px;
    color: gray;
}

.profileImg {
    width: 40%;
    height: 70%;
}

.profileImg img {
    width: 100%; /* or any custom size */
    height: 100%;
    border-radius: 10px;


}

.profileInfo_wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkred;
    font-weight: normal;
    font-size: 24px;
}

.profileInfo_wrapper table  {
    text-align: center;
}


.errorMessage {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
}

.table_Container th{
  text-align: center;
}
