* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: blueviolet;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.login {
    margin-top: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
}

.rememberMe {
    display: flex;
    margin: 15px 0;
    color: blueviolet;
    align-items: center;
    justify-content: center;
}

.rememberMe input {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.forgot a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: blueviolet;
    margin-bottom: 15px;
}

.notAccount {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: gray;
}

.notAccount a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: blueviolet;
}

.register {
    width: 30%;
    margin-top: 20px;
    text-align: center;
}

.packList {
    width: 90vw;
}

.packListHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;
}

.packListHeader button {
    margin-left: 25px;
}

.searchAndBtn {
    display: flex;
    justify-content: space-between;
}

.search {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.search button {
    margin-left: 20px;
}

.table {
    margin-top: 30px;
    /*width: 90vw;*/
    /*height: 90vh;*/
    border: 2px solid blueviolet;
}


.table_actions_btn {
    display: flex;
    justify-content: space-around;
}


.table_sort_btn_active {
    width: 50px;
    height: 25px;
    color: green;
    border: 1px solid green;
    font-weight: normal;
    background: transparent;
    margin-left: 5px;
}

.table_sort_btn_passive {
    width: 50px;
    height: 25px;
    color: palevioletred;
    border: 1px solid palevioletred;
    font-weight: normal;
    background: transparent;
    margin-left: 5px;
}

