.myButton {
    padding: 5px 15px;
    color: blueviolet;
    font-size: 18px;
    background: transparent;
    border: 2px solid blueviolet;
    cursor: pointer;
}

.disable {
    padding: 5px 15px;
    color: grey;
    font-size: 14px;
    border: 1px solid blueviolet;
}