a {
    font-size: 18px;
    color: blueviolet;
    text-decoration: none;
    padding: 5px;
    /*border: 1px solid teal;*/
    margin-right: 5px;
}
a:hover{
    text-decoration: none;
}
.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: papayawhip;
}

.navbar__links {
    width: 100vw;
    display: flex;
    justify-content: center;

    /*background-color: orangered;*/
}
.navbar__links_auth{
    width: 90vw;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-left: 75px;
}

.navbar__links_active {
    color: darkred;
    border-bottom: 1px solid darkred;
}
