* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    /*width: 100vh;*/
    height: 100vh;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed black;

}

.circle.entering {
    animation: show-loader 0.5s forwards;
}

.circle.entered {
    animation: rotate-loader 0.5s infinite;
}

.circle.exiting {
    animation: show-loader 0.5s reverse;
}

.circle.extited {

}

@keyframes show-loader {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes rotate-loader {
    0% {

        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
