.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.page__current {
    border: 2px solid red;
    font-weight: bold;
}

.selectContainer {
    margin-left: 20px;
}